@import './bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import './bower_components/font-awesome/scss/font-awesome';

$header-height: 56px;

body {
  padding-top: $header-height;
}

.navbar-brand {
  font-size: 24px;
}

.navbar-nav {
  float: right;
  a {
    font-size: 20px;
  }
}

#map-widget {
  position: absolute;
  top: $header-height;
  right: 0;
  bottom: 0;
  left: 0;
}

#places-list {
  position: absolute;

}
