@import './bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import './bower_components/font-awesome/scss/font-awesome';
@import './bower_components/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min';
@import './bower_components/map-icons/css/map-icons';

$header-height: 61px;
$sidebar-width: 300px;
$silver: #b2b3b6;
$black: #000;

$concrete: #f3f3f3;
$white: #fff;
$hippie-blue: #619bae;
$hippie-blue-light: lighten($hippie-blue, 8%);
$flamingo: #f37130;
$trout: #4c5059;
$nevada: #6c6e71;
$mojo: #bc5039;
$norway: #9fc199;
$mountbatten-pink: #9B7C88;
$sun: #FBAD17;
$tower-grey: #ADC1C1;
$bombay: #b2b3b6;
$juniper: #6D9495;
$earls-green: #b3b92e;
$terracotta: #E18167;
$muesli: #AE8861;
$salem: #0C6F4A;
$valencia: #D33A35;
$copper: #C97933;

$automotive: $muesli;
$community: $nevada;
$education: $salem;
$religious: $tower-grey;
$healthcare: $valencia;
$landmarks: $copper;
$outdoors: $salem;
$retail: $terracotta;
$services: $juniper;
$entertainment: $mojo;
$food: $flamingo;
$recreation: $norway;
$travel: $hippie-blue;

body {
  padding-top: $header-height;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body .leaflet-container {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 0;
}

.modal-content {
  border-radius: 0;
}

.close {
  position: absolute;
  right: 8px;
  top: 3px;
  font-size: 30px;
}

#onboarding {
  .btn {
    border-radius: 0;
    border: none;
    line-height: 40px;
    font-size: 20px;
    width: 100%;
  }
  .modal-header {
    text-align: center;
    padding: 20px 0;
    h4 {
      font-size: 18px;
    }
  }
  .modal-body {
    padding-bottom: 0;
  }
  .modal-footer {
    text-align: center;
    padding: 12px 0;
  }
}

input, textarea {
  border-radius: 0 !important;
  box-shadow: none !important;
  /*
  &:focus {
    background: $silver;
    color: $white;
    ::-webkit-input-placeholder,
    :-moz-placeholder,
    ::-moz-placeholder,
    :-ms-input-placeholder {
       color: $white;
    }
  }
  */
}

.modal {
  background: rgba(255, 255, 255, .5)
}

.navbar-brand {
  font-size: 24px;
  line-height: 60px;
  padding: 0 0 0 10px;
}

.blocky-nav {
  a {
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .15s;
    line-height: 60px;
    border-left: 1px solid $silver;
    padding: 0 15px;
    float: left;
    text-align: center;
    &:hover {
      background: $hippie-blue-light;
      color: $white;
      text-decoration: none;
    }
    &.active {
      background: $hippie-blue;
      color: $white;
    }
  }
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $concrete;
  border-bottom: 1px solid $silver;
  nav {
    float: right;
    a:last-child {
      background: $flamingo;
      color: $white;
    }
  }
}

#list-picker {
  position: absolute;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid $silver;
  background: #fff;
  padding: 10px;
  strong {
    border-bottom: 1px solid $silver;
  }
  .arrow {
    position: absolute;
    right: -10px;
    top: 10px;
    font-size: 30px;
    color: $white;
  }
}

#map-widget {
  position: absolute;
  top: $header-height;
  right: $sidebar-width;
  bottom: 0;
  left: 0;
}

#places-list {
  position: absolute;
  right: 0;
  top: $header-height;
  bottom: 0;
  overflow-y: auto;
  width: $sidebar-width;
  background: $concrete;
  border-left: 1px solid $silver;
  i { 
    padding: 10px 10px 0px 10px;
  }
  .list-header {
    padding: 20px 0 0;
    text-align: center;
    h3 {
      text-transform: capitalize;
    }
    p {
      padding: 20px;
    }
  }
}

#map {
  height: 100%;
  width: 100%;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li.list-place {

  background: #fdfdfd;
  border-bottom: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
  margin: 6px 0;
  transition: all .15s;
  &:hover {
    background: $hippie-blue-light;
    color: $white;
    cursor: pointer;
  }

  &.active {
    background: $hippie-blue;
    color: $white;
  }

  h4 {
    margin: 0;
  }

  .details {
    padding: 10px 15px;
  }

  p {
    margin: 0;
    padding: 0 0 10px;
    &:last-child {
      padding: 0;
    }
  }

  .addToList {
    font-size: 14px;
    line-height: 14px;
    padding: 3px;
    visibility: hidden;
    color: $hippie-blue;
    background: transparent;
    border: none;
    display: none;
  }
  &:hover .addToList {
    visibility: visible;
  }

  p.index {
    float: left;
    line-height: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    width: 40px;
  }
}


.tp-marker {
  border-radius: 50%;
  background: rgba(0, 0, 0, .2);
  padding: 4px;
  transition: background-color .15s;
  &:hover, &.tp-active {
    cursor: pointer;
    background-color: $hippie-blue;
    .inner {
      background-color: $hippie-blue;
    }
  }
  .inner {
    transition: background-color .15s;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    background-color: $hippie-blue-light;
    color: $white;
    height: 32px;
    line-height: 32px;
  }
}

.tp-map-tooltip {
  width: 300px;
  max-height: 300px;
  .leaflet-popup-content {
    padding: 0;
  }
  .tooltip-listing {
    position: relative;
    border-bottom: 1px solid $silver;
    padding: 5px;
    strong {
      font-size: 16px;
    }
    &:last-child {
      border-bottom: none;
    }
    i {
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -13px;
      font-size: 26px;
    }
    &:hover {
      cursor: pointer;
      background: $concrete;
    }
  }
}

.index {

}

.food {
  .details {
    border-left: 5px solid $food;
  }
  .listing {
    border-right: 5px solid $food;
  }
}

.services {
  .details {
    border-left: 5px solid $services;
  }
  .listing {
    border-right: 5px solid $services;
  }
}

.automotive {
  .details {
    border-left: 5px solid $automotive;
  }
  .listing {
    border-right: 5px solid $automotive;
  }
  .tooltip-listing i {
    color: $automotive;
  }
}

.community {
  .details {
    border-left: 5px solid $community;
  }
  .listing {
    border-right: 5px solid $community;
  }
}

.education {
  .details {
    border-left: 5px solid $education;
  }
  .listing {
    border-right: 5px solid $education;
  }
  .tooltip-listing i {
    color: $education;
  }
}

.religious {
  .details {
    border-left: 5px solid $religious;
  }
  .listing {
    border-right: 5px solid $religious;
  }
}

.healthcare {
  .details {
    border-left: 5px solid $healthcare;
  }
  .listing {
    border-right: 5px solid $healthcare;
  }
  .tp-marker {
    &:hover, &.tp-active {
      background-color: $healthcare;
    }
    .inner {
      background-color: $healthcare;
    }
  }
}

.landmarks {
  .details {
    border-left: 5px solid $landmarks;
  }
  .listing {
    border-right: 5px solid $landmarks;
  }
}

.outdoors {
  .details {
    border-left: 5px solid $outdoors;
  }
  .listing {
    border-right: 5px solid $outdoors;
  }
}

.retail {
  .details {
    border-left: 5px solid $retail;
  }
  .listing {
    border-right: 5px solid $retail;
  }
}

.entertainment {
  .details {
    border-left: 5px solid $entertainment;
  }
  .listing {
    border-right: 5px solid $entertainment;
  }
}

.recreation {
  .details {
    border-left: 5px solid $recreation;
  }
  .listing {
    border-right: 5px solid $recreation;
  }
}

.travel {
  .details {
    border-left: 5px solid $travel;
  }
  .listing {
    border-right: 5px solid $travel;
  }
}

.select-icons {
  i {
    border: 1px solid #000;
    padding: 4px;
    margin: 2px;
    &.selected {
      background: yellow;
      border: 1px solid #ccc;
    }
  }
}

#menu {
  .content {
    .modal-footer {
      padding: 15px 15px 0 15px;
    }
  }
}

#filters {
  position: absolute;
  right: -$sidebar-width;
  width: $sidebar-width;
  transition: right .5s;
  background: $concrete;
  bottom: 0;
  top: $header-height;
  .desc {
    background-color: $concrete;
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: none;
  }
  &.active {
    right: 0;
  }
  .filters-header {
    border-bottom: 1px solid $silver;
    overflow: auto;
    a {
      width: 50%;
      line-height: 40px;
    }
  }
  .filter-list {
    background: $concrete;
    li {
      border-bottom: 1px solid $silver;
      background: $white;
      padding: 0 0 0 10px;
      transition: all .15s;
      &:hover {
        cursor: pointer;
        background: lighten($hippie-blue, 8%);
        color: $white;
      }
      i {
        font-size: 22px;
      }
      h3 {
        display: inline-block;
        font-size: 20px;
        line-height: 40px;
        margin-left: 20px;
        text-transform: capitalize;
      }
    }
  }
}

#cluster-tooltip {
  position: absolute;
  z-index: 9999;
  background: #fff;
  padding: 10px;
  margin-left: 30px;
  min-width: 200px;
  & > div {
    border-bottom: 1px solid $silver;
    padding: 8px 0;
    &:hover {
      cursor: pointer;
      background: $silver;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

#place-details {
  .modal-header {
    i {
      float: left;
      font-size:30px;
      margin-right: 10px;
    }
  }
}
